.endless-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid black;
}
.endless-loader_bottom {
  margin: 5px;
  border: 2px solid forestgreen;
}
